In [1]:
# dependencies and setup
import pandas as pd
from pathlib import Path

In [2]:
# load files
school_data_to_load = Path('Resources/schools_complete.csv')
student_data_to_load = Path('Resources/students_complete.csv')

In [3]:
# read data
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# combine data into one data set
school_data_complete = pd.merge(student_data, school_data, how='left', on=['school_name', 'school_name'])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [4]:
# calculate the count of unique schools
school_count = school_data_complete['school_name'].nunique()
school_count

15

In [5]:
# calculate total number of students
student_count = school_data_complete['student_name'].count()
student_count

39170

In [6]:
# calculate total budget
# find every unique value in budget column and then sum
budgets = school_data_complete['budget'].unique()
total_budget = budgets.sum()
print(total_budget)

24649428

In [7]:
# calculate the mean math score
avg_math_score = school_data_complete['math_score'].mean()
avg_math_score

78.98537145774827

In [8]:
# calculate the mean reading score
avg_reading_score = school_data_complete['reading_score'].mean()
avg_reading_score

81.87784018381414

In [9]:
# passing math percentage
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [10]:
# passing reading percentage
passing_reading_count = school_data_complete[(school_data_complete['reading_score'] >= 70)].count()['student_name']
passing_reading_percentage = passing_reading_count / float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [11]:
# percentage that passed both 
passing_both_count = school_data_complete[
    (school_data_complete['math_score'] >= 70) & (school_data_complete['reading_score'] >= 70)].count()['student_name'
]
overall_pass_rate = passing_both_count / float(student_count) * 100
overall_pass_rate

65.17232575950983

In [ ]:
# create a high- level snapshot